@media (max-width: 768px) {

header{
  flex-direction: column;

}
.header-text{
  text-align: center;
}
   .card-m{
        width: 100%;
    }


    .menu-options{
      flex-direction: column;
    }

    .info{
      
        grid-template-columns: 1fr;
       
}

.menu-header{

  grid-template-columns: 1fr;


}
.meny-img{

  width: 100%;
}

}
