@media (max-width: 768px) {

  .container{
    width: 100%;
  }
      


   .card-m{
        width: 100%;
    }


    .menu-options{
      flex-direction: column;
    }

    .info{
      
        grid-template-columns: 1fr;
       
}


}
